{% extends 'base.html' %}

{% block content %}

    <main class="container p-4">
        <div class="row">

            <aside class="col-auto pb-4">
                <form method="GET">
                    {% csrf_token %}
                    {{ filters_form.as_p }}
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </aside>
            
            <div class="col">
                    <ul class="list-group">
                        {% for game in page_obj %}
                            <li class="list-group mb-4 p-4" style="border: 1px solid rgba(175, 175, 175, 0.5)">
                                <div class="container d-flex flex-row" style="max-height: 100px">
                                    <img src="{{ game.logo.image.url }}" alt="IMG LOGO" style="height: 100px; width: 100px">
                                    <div class="container d-flex flex-column">
                                        <p>
                                            <a href="{% url 'game_detail' id=game.id %}" class="link">{{ game.name | safe }}</a>
                                            <span class="badge text-bg-primary">{{ game.category.name | safe }}</span>
                                            <span class="badge text-bg-primary">{{ game.complexity.name | safe }}</span>
                                        </p>
                                        <p class="overflow-hidden card-desc">{{ game.description | safe }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </main>

    <div>
        <ul class="pagination align-items-center justify-content-center">

            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="{% url 'game_list' %}?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="page-item"><a class="page-link disabled" aria-disabled="true">Previous</a></li>
            {% endif %}

            {% for page in page_obj.paginator.page_range %}
                {% if page == page_obj.number %}
                    <li class="page-item active"><a class="page-link" href="{% url 'game_list' %}?page={{ page }}">{{ page }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{% url 'game_list' %}?page={{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="{% url 'game_list' %}?page={{ page_obj.next_page_number }}">Next</a></li>
            {% else %}
                <li class="page-item"><a class="page-link disabled" aria-disabled="true">Next</a></li>
            {% endif %}

        </ul>
    </div>

{% endblock %}